@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iosevka&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #141314;
    font-family: 'Iosevka', Roboto, Arial;
    color: #61538D;
}

.Container {
    width: 90%;
    min-width: 500px;
    margin: auto;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block;
    }
    .col-md-4 {
        width: 100%;
    }
}

ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    color: #61538D;
    margin-left: 10px; /* Adjust the left margin to your preference */
}

img {
    float: right;
}

.header {
    color: #61538D;
}

a:link {
    color: #61538D;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: #61538D;
}


a:active {
    color: #61538D;
}

p {
    color: #61538D;
    text-align: center;
}

h1 {
    color: #61538D;
    font-size: 50px;
    font-family: 'Iosevka', Roboto, Arial;
    text-align: center;
}

/* New Styles for Sidebar */
.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.sidebar {
    background-color: #1E1E1E;
    padding-top: 20px;
    height: 100vh;
}

.sidebar h2 {
    color: #61538D;
    text-align: center;
}

/* Default styling for nav-pills */
.nav-pills li a {
    color: #61538D;
    background-color: #1E1E1E;
}

.nav-pills li a:focus {
    color: #61538D;
    background-color: #1E1E1E;
}

/* Hover styling for nav-pills */
.nav-pills li a:hover {
    color: #1E1E1E;
    background-color: #61538D;
}

/* Clicked styling for nav-pills */
.nav-pills li.active a {
    color: #61538D;
    background-color: #1E1E1E;
}

.about-me-box {
    background-color: #141314;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 800px; /* Adjust the max-width to your preference */
    margin-left: auto;
    margin-right: auto;
}
    
.about-me-paragraph {
    font-size: 20px;
    color: #61538D;
    text-align: left;
}
